In [69]:
# # DO NOT REMOVE THESE
# %load_ext autoreload
# %autoreload 1
# %aimport src.base

In [70]:
# # DO NOT REMOVE This
# %reload_ext autoreload

In [71]:
# ## DO NOT REMOVE
# ## import local src module -
# ## src in this project will contain all your local code
# ## clean_data.py, model.py, visualize.py, custom.py

# #import src.base with alias to avoid namespace clashes

# from src import base as fis

In [72]:
# fis.test_base()

In [73]:
import pandas as pd
import numpy as np
import sqlite3

In [74]:
conn=sqlite3.connect("/Users/buddy4732/datascience/World_Health_Organization_Mental_Health_Resource_Study/data/suicide_rates.db")
c=conn.cursor()

In [75]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# Save to an object

In [76]:
c.fetchall()

[('suicides',)]

In [66]:
df=pd.read_sql_query("""
SELECT * FROM suicides

;""", con=conn)
df.head(10)

   country  year     sex          age suicides_no population
0  Albania  1985  female  15-24 years                 277900
1  Albania  1985  female  25-34 years                 246800
2  Albania  1985  female  35-54 years                 267500
3  Albania  1985  female   5-14 years                 298300
4  Albania  1985  female  55-74 years                 138700
5  Albania  1985  female    75+ years                  34200
6  Albania  1985    male  15-24 years                 301400
7  Albania  1985    male  25-34 years                 264200
8  Albania  1985    male  35-54 years                 296700
9  Albania  1985    male   5-14 years                 325800

In [68]:
df.head(10)

   country  year     sex          age suicides_no population
0  Albania  1985  female  15-24 years                 277900
1  Albania  1985  female  25-34 years                 246800
2  Albania  1985  female  35-54 years                 267500
3  Albania  1985  female   5-14 years                 298300
4  Albania  1985  female  55-74 years                 138700
5  Albania  1985  female    75+ years                  34200
6  Albania  1985    male  15-24 years                 301400
7  Albania  1985    male  25-34 years                 264200
8  Albania  1985    male  35-54 years                 296700
9  Albania  1985    male   5-14 years                 325800