In [20]:
# DO NOT REMOVE THESE
%load_ext autoreload
%autoreload 1
%aimport src.base

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
# DO NOT REMOVE This
%reload_ext autoreload

In [22]:
## DO NOT REMOVE
## import local src module -
## src in this project will contain all your local code
## clean_data.py, model.py, visualize.py, custom.py

#import src.base with alias to avoid namespace clashes

from src import base as fis

In [23]:
fis.test_base()

Base Module Imported

Testing local imports
In clean_data
In Model
In Visualize
In custom module

In [39]:
import pandas as pd
import numpy as np
import sqlite3

In [40]:
conn=sqlite3.connect("/Users/buddy4732/datascience/data.db")
c=conn.cursor()

In [41]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# Save to an object

In [ ]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [42]:
c.fetchall()

[]

In [38]:
df=pd.read_sql_query("""

SELECT * FROM data


;""", con=conn)
df.head()

DatabaseError: Execution failed on sql '

SELECT * FROM data


;': no such table: data

In [15]:
suicides_df

Empty DataFrame
Columns: []
Index: []